*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    margin: 50px;
}
h2{
    text-align: center;
    font-size: 100px;
}
p{
    font-size: 50px;
}
section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}
.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1.5s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translatex(0);
    transition: all 1.5s;
}
.logo{
    display: flex;
 
    gap:0 20px;
}
.avatar{
    width: 200px ;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
}
.logo :nth-child(2){
    transition-delay:400ms;
}
.logo :nth-child(3){
    transition-delay:700ms;
}
.logo :nth-child(4){
    transition-delay:1000ms;
}
