*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100vh;
   background-color:  rgba(0, 149, 255, 0.679);
  
}
.menu{
    position: sticky;
    top: 0px;
    background-color: #252525;
    width: 100%;
    border-radius: 20px;
    padding: 1rem;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar h1{
    color: white;
    font-size: 2.5rem;
    margin-left: 60px;
}
.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2rem;

}
.nav-bar ul li {
    margin-left: 4rem;
    margin-right: 2rem;
    list-style: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 3px 10px;
    width: 150px;
    text-align: center;
}
.nav-bar ul li:hover{
    transition: 0.3s;
    opacity: .5;
   
}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.nav-bar span{
    color: #00aeff;
}
.sobre{
    margin: 50px;
    
}
.sobre h2{
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    margin: 40px ;
}
.sobre .img-foto{
    width: 25rem;
    border-radius: 80px;
    border: 2px solid white;
}
.sobre-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
     border: 2px solid;
     padding: 40px;
     border-radius: 20px;
     background-color: #00aeff;
}
.sobre-texto p {
    width: 35rem;
    font-size: 30px;
    font-weight: bolder;
    color: #252525;
}

.caixa-estudo .texto-tec{
    background-color: #00aeff;
    padding: 30px;
    border: 2px solid ;
    border-radius: 20px;
    text-align: center;
}
.caixa-estudo .texto-tec h3{
    font-size: 3rem;
    font-weight: bolder;
     color: #252525;
     margin-top: 40px;
     margin-bottom: 40px;
}
.caixa-estudo .texto-tec p{
    font-size: 1.6rem;
    font-weight: bolder;
    color: #252525;
    width: 80rem;
    
}
.caixa-estudo .img-tec{
    margin-left: 2rem;
}
.caixa-estudo .img-tec-j{
    position: relative;
    left: 30px;
}
.caixa-estudo .img-tec-h{
    position: relative;
    right: 15px;
}
.caixa-estudo .img-tec-r{
    position: relative;
    left: 16px;
    top: 16px;
}
.contato{
    background-color: #00aeff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.contato h2{
    margin-top: 30px;
    font-size: 3rem;
    font-weight: bolder;
}
.contato img{
    width: 3rem;
}
.contato .button{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    gap: 25px;
}
.contato .button button{
    background-color: transparent;
    border: none;
}
.contato p{
    font-size: 1.5rem;
}
footer{
    border: 2px solid;
}
.texto-tec .coluna{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}